table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  .mat-card{
    margin: 1em;
    padding: 1em;
  }

  .mat-card-actions{
    margin-bottom: 0px;
  }

  table td{
    padding: 1em;
    line-height: 1.6em;
  }

  @media (max-width: 768px) {

    
    .row{      
      justify-content: space-between;
      gap:1px;
    }

    thead{
      display: none;
    }
    
    .mat-card{
      padding: 0;
      margin: 0;
    }

    .search-input{
      padding: 2em;
      padding-top: 0;
      width: max-content;
    }
    
    .card-title-container{
      padding-left: 2em !important;
      padding-right: 2em !important;
      padding-top: 2em !important;

      .mat-card-actions{     
        button{
          width: 100%;
          padding: .4em;
          font-size: 20px;
        }
      }      
    }  
  }

  .card-title-container{
    padding: 1em;

    .mat-card-title{
      font-size: 30px;
    }
  }

  .card-container{
    padding: 1em;
    padding-top: 0;
    padding-bottom: 0;
  }

  .search-input{
    .mat-form-field-wrapper{
      padding-bottom: 0px;
    }
  }

