table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  .mat-card{
    margin: 1em;
    padding: 1em;
  }

  table td{
    padding-top: .7em;
    padding-bottom: .7em;
    line-height: 1.6em;
  }

  
