table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  .mat-card{
    margin: 1em;
    padding: 1em;
  }

  

  
  .mat-cell::before{
    font-weight: bold;
  }


  table td{
    padding: 1em;
    line-height: 1.6em;
  }

  @media (max-width: 768px) {
    thead{
      display: none;
    }
  }

  .card-title-container{
    padding: 1em;
  }

  .card-container{
    padding: 1em;
    padding-top: 0;
    padding-bottom: 0;
  }

  .search-input{
    .mat-form-field-wrapper{
      padding-bottom: 0px;
    }
  }